# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Alexandru\Desktop\253\PROGRAMARE ORIENTATA OBIECT\TEME LABORATOR\2\Tema2-CLION\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
